.sfondo{
    background-color: rgb(223, 220, 240);
}
.titolo{
    text-align: center; 
    background-color: darkslateblue;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 200%;
    color: black;
}
.fotoCarta{
    height: 120px;
}
.cardQuantity{
    margin-left: 20px;
    height: 23%;
    width: 15%;
    background-color: darkslateblue;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: auto;
}
div#finalOptions{
    height: 100px;
    text-align: right;
}
button{
    background-color: darkslateblue;
    border: 1px solid black;
    border-radius: 5px;
}
button:active{
    background-color: rgb(32, 24, 83);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
button:hover{
    box-shadow: 1px 1px 1px 1px;
}
button.btnCards{
    margin-left: 20px;
    height: 23%;
    width: 15%;
}
button.togliTutto{
    margin-top: 30px;
    margin-right: 35px;
    height: 40px;
}
