
    <nav>
      <img routerLink="carrello" class="link" id="imgCarrello" [src]="imgCarrello"  alt="carrello">

        @if (switchEcommerce === 'visibili') {
          <a href="https://www.cardmarket.com/Users/Bagherinho" id="cardmarket" target="_blank">
            <img class="link" src="../../../assets/immaginiLink/cardmarket.jpg" border ="0" alt="Cardmarket - Bagherinho" />
          </a>
        }
        @if (switchEcommerce === 'visibili') {
          <a id="vinted" href="https://www.vinted.it/member/136007224-mattia232003">
            <img class="link"  src="../../../assets/immaginiLink/vinted.jpg" alt="Vinted - Mattia232003">
          </a>
        }

        <div class="recapito">
            <h1 class="recapito">
                CONTATTAMI AI LINK: <br>
                <button (click)="refLinkFunction()" id="referalLink">Click Here!</button>
            </h1>
        </div>
      </nav>

      <div class="testata">
        <div id="firstTitle">
            <h1 class="testata">
            
             YU-GI-OH! GALAXY_EYES
            </h1>
        </div>
    </div>

    <div class="container text-center">
        <div class="row align-items-start align-content-center">
          
          @for (carta of carte; track $index) {
           <div class="articolo card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{carta.img}}" class="img-carta img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="height: 100%;">
                  <h5 class="card-title color">{{carta.nome}}</h5>
                      <p class="card-text color">{{carta.prezzo}} €</p>
                      <p class="card-text" >
                        <small class="text-body-secondary">
                          <button class="prezzi" (click)="aggiungiAlCarrello()">Aggiungi al carrello</button>
                        </small>
                      </p>
                </div>
              </div>
            </div>
          </div>
          }
        
        </div>
      </div>

    
    
