.sfondo{
    background-color: rgb(223, 220, 240);
}
.link{
    height: 50px;
    width: 50px;
    float: right !important;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
 }
#cardmarket{
    height: 50px;
    width: 50px;
}
#vinted{
    height: 50px;
    width: 50px;
}
.articolo {
    background-color: darkslateblue;
    max-width: 540px;
}
.articolo:hover{
    box-shadow: 3px 3px 3px 3px;
    background-color: blueviolet;
    transform: translateY(-10px);
}
.img-carta{
    height: 250px;
    padding: 1%;
}
.colore{
    color: black;
    font-weight: bold;
    font-size: larger;
}
.descrizione{
    height: 30%;
    overflow-y: scroll;
    border: none;
    color: black;
    scrollbar-width: normal;
    scrollbar-color: rgb(50, 40, 110) transparent;
}

.btn-carrello{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(50, 40, 110);
    border-radius: 3px;
    border: 1px solid black;
}
button:hover{
    box-shadow: 0,5px 0,5px 1px 1px;
    background-color: rgb(55, 12, 95);
}
button:active{
    background-color: rgb(32, 24, 83);
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

