<div class="sfondo" style="min-height: 100vh; height: max-content;">
    <nav class="navbar d-flex" style="background-color: darkslateblue;">
      <div class="container-fluid">
        <div class="d-flex align-items-center bg-white rounded">
          <img src="../../../assets/logo.jpg" alt="Logo" class="me-2" style="height: 50px; width: auto;">
          <h1 style="height: 50px; line-height: 50px;">GALAXY EYES</h1>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <img routerLink="carrello" class="link me-2" id="imgCarrello" [src]="imgCarrello" alt="carrello">
          <a href="https://www.cardmarket.com/Users/Bagherinho" id="cardmarket" target="_blank" class="me-2">
            <img class="link" src="../../../assets/immaginiLink/cardmarket.jpg" border="0" alt="Cardmarket - Bagherinho">
          </a>
          <a id="vinted" href="https://www.vinted.it/member/136007224-mattia232003">
            <img class="link"  src="../../../assets/immaginiLink/vinted.jpg" alt="Vinted - Mattia232003">
          </a>
        </div>
      </div>
    </nav>  
     
    <div class="container text-center mt-4">
      <h1 class="testata" style="font-size: 3rem; text-align: center;">Carte Disponibili</h1>
    </div>

    
    <div class="container text-center">
      <div class="row align-items-start align-content-center">    
          <!-- ciclo per inserire cards -->
          @for (carta of carte; track $index) {
           <div class="articolo card ms-2 mt-4" [style.max-height]="maxAltezzaCard">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{carta.img}}" class="img-carta img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="height: 100%;">
                  <h5 class="card-title colore">{{carta.nome}}</h5>
                  <!-- mostra o nascondi descrizione -->
                    @if (dimensioneSchermo > cambioDimensione) {
                      <div class="descrizione">DESCRIZIONE
                        Il Yu-Gi-Oh! Trading Card Game è un gioco di carte collezionabili giapponese sviluppato e pubblicato da Konami. È basato sul gioco immaginario Duel Monsters creato dall'artista manga Kazuki Takahashi, che appare in alcune parti del franchise manga Yu-Gi-Oh!
                        (Il gioco di carte collezionabili è stato lanciato da Konami nel 1999 in Giappone e nel marzo 2002 in Nord America)</div>
                    }
                      <div class="">
                        <p class="card-text colore">{{carta.prezzo}} €</p>
                        <p class="card-text" >
                          <small class="text-body-secondary">
                            <button class="btn-carrello" (click)="aggiungiAlCarrello()">Aggiungi al carrello</button>
                          </small>
                        </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          }
        
        </div>
      </div>
    </div>
     
    
