body{
    background-image: url(http://static.zerochan.net/Yu-Gi-Oh!.ZEXAL.full.2067483.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    border: 0px;
    color: black;
}
